beachWatch
[
    {
        "id": "132a16f7.316489",
        "type": "tab",
        "label": "beachWatch",
        "disabled": false
    },
    {
        "id": "eb5bd950.f1f308",
        "type": "debug",
        "z": "132a16f7.316489",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 637.017333984375,
        "y": 222,
        "wires": []
    },
    {
        "id": "ca6334e2.858fa8",
        "type": "http request",
        "z": "132a16f7.316489",
        "name": "get BW XML",
        "method": "GET",
        "ret": "txt",
        "url": "http://www.environment.nsw.gov.au/beachapp/PittwaterBulletin.xml",
        "tls": "",
        "x": 200.017333984375,
        "y": 110.00000762939453,
        "wires": [
            [
                "580d637b.7e8e1c"
            ]
        ]
    },
    {
        "id": "6eb8429f.92c6bc",
        "type": "inject",
        "z": "132a16f7.316489",
        "name": "check6Hourly",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "21600",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 130.017333984375,
        "y": 43.00000762939453,
        "wires": [
            [
                "ca6334e2.858fa8"
            ]
        ]
    },
    {
        "id": "9c9f2870.eb79c8",
        "type": "function",
        "z": "132a16f7.316489",
        "name": "getValues",
        "func": "// High Tide\nvar htStr = msg.payload.rss.channel[0].bwdata[0].bwhighTide;\n// Low Tide\nvar ltStr = msg.payload.rss.channel[0].bwdata[0].bwlowTide;\n// Ocean Temperature\nvar otStr = msg.payload.rss.channel[0].bwdata[0].bwoceanTemp;\n// Air Temperature\nvar atStr = msg.payload.rss.channel[0].bwdata[0].bwairTemp;\n// Swell\n// var swStr = msg.payload.rss.channel[0].bwdata[0].bwswell; \n// Winds\n// var wiStr = msg.payload.rss.channel[0].bwdata[0].bwwinds; \n// Pollution Advice\nvar poStr = msg.payload.rss.channel[0].item[6].category[0];\n// Star Rating\nvar srStr = msg.payload.rss.channel[0].item[6].bwdata[0].bwstarRating;\n\n// convert to string and strip trailing periods\nhtStr = htStr.toString();\nhtStr = htStr.replace(/\\.$/, \"\");\nltStr = ltStr.toString();\nltStr = ltStr.replace(/\\.$/, \"\");\n// swStr = swStr.toString();\n// swStr = swStr.replace(/\\.$/, \"\");\n// wiStr = wiStr.toString();\n// wiStr = wiStr.replace(/\\.$/, \"\");\n// poStr = poStr.replace(/\\.$/, \"\");\n// poStr = poStr.toString();\nsrStr = srStr.toString();\nsrStr = parseInt (srStr.length);\n\n\nmsg.payload = {};\nmsg.payload.htStr = htStr;\nmsg.payload.ltStr = ltStr;\nmsg.payload.otStr = parseInt (otStr);\nmsg.payload.atStr = parseInt (atStr);\nmsg.payload.srStr = srStr;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 449.017333984375,
        "y": 290.00000762939453,
        "wires": [
            [
                "eb5bd950.f1f308",
                "3b3828bc.14fbe8"
            ]
        ]
    },
    {
        "id": "580d637b.7e8e1c",
        "type": "change",
        "z": "132a16f7.316489",
        "name": "stripRssHeader",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "rss version=\"2.0\" xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:xCal=\"urn:ietf:params:xml:ns:xcal\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\" xmlns:atom=\"http://www.w3.org/2005/Atom\" xmlns:georss=\"http://www.georss.org/georss\" xmlns:bw=\"http://www.environment.nsw.gov.au/beach/beachappnamespace.htm\"",
                "fromt": "str",
                "to": "rss",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "bw:",
                "fromt": "str",
                "to": "bw",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 317.017333984375,
        "y": 175.00000762939453,
        "wires": [
            [
                "9bbdfdf1.75514"
            ]
        ]
    },
    {
        "id": "3b3828bc.14fbe8",
        "type": "influxdb out",
        "z": "132a16f7.316489",
        "influxdb": "501f495e.9b6148",
        "name": "influxdb",
        "measurement": "beachWatch",
        "precision": "",
        "retentionPolicy": "",
        "x": 634,
        "y": 338,
        "wires": []
    },
    {
        "id": "9bbdfdf1.75514",
        "type": "xml",
        "z": "132a16f7.316489",
        "name": "",
        "attr": "",
        "chr": "",
        "x": 410,
        "y": 228,
        "wires": [
            [
                "9c9f2870.eb79c8"
            ]
        ]
    },
    {
        "id": "501f495e.9b6148",
        "type": "influxdb",
        "z": "",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "ttndb",
        "name": "influxdb",
        "usetls": false,
        "tls": ""
    }
]
