oura-api
[
    {
        "id": "cceba98e.5a9f08",
        "type": "tab",
        "label": "Oura",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f200279c.477e48",
        "type": "comment",
        "z": "cceba98e.5a9f08",
        "name": "Oura Cloud API details",
        "info": "\nClient ID\tSAKMSYZSNANSMCZY\nClient Secret\tIKEULNB4Z37F4NLGUKO5Q3VHADF434QY",
        "x": 220,
        "y": 640,
        "wires": []
    },
    {
        "id": "303e169d.f5722a",
        "type": "inject",
        "z": "cceba98e.5a9f08",
        "name": "morningCollection",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 09 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "d143dbd.71a9a28",
                "d5c51f84.ce71c"
            ]
        ]
    },
    {
        "id": "ac7e0557.9f59e8",
        "type": "comment",
        "z": "cceba98e.5a9f08",
        "name": "influxdb details",
        "info": "influxdb credentials\n\ndatabase: oura\nuser: oura\npawd: 5p....",
        "x": 200,
        "y": 700,
        "wires": []
    },
    {
        "id": "5ddf1e5.707f3e",
        "type": "comment",
        "z": "cceba98e.5a9f08",
        "name": "postman oauth2 details",
        "info": "Token Name\nOuraOuth2Token\n\nAccess Token\n5S7WSSUSJLVBIFEGUV3X5HDB4AXIHNB6\n\nToken Type\nbearer\n\nexpires_in\n86400\n\nrefresh_token\nRRKXLLC2THFQGRQGDSZLNFWTN2WE4ECP",
        "x": 220,
        "y": 760,
        "wires": []
    },
    {
        "id": "43557557.65768c",
        "type": "comment",
        "z": "cceba98e.5a9f08",
        "name": "Sleep Doco",
        "info": "https://cloud.ouraring.com/docs/sleep",
        "x": 190,
        "y": 580,
        "wires": []
    },
    {
        "id": "32aefafe.d6acc6",
        "type": "influxdb out",
        "z": "cceba98e.5a9f08",
        "influxdb": "fbbcd1e5.72597",
        "name": "ouraSleep",
        "measurement": "sleep",
        "precision": "",
        "retentionPolicy": "",
        "x": 620,
        "y": 520,
        "wires": []
    },
    {
        "id": "d1c70f46.04e0e",
        "type": "comment",
        "z": "cceba98e.5a9f08",
        "name": "http-request strings",
        "info": "\nhttps://api.ouraring.com/v1/readiness?access_token=5S7WSSUSJLVBIFEGUV3X5HDB4AXIHNB6&start={{{payload.yesterdaysDate}}}&end={{{payload.todaysDate}}}\n\nhttps://api.ouraring.com/v1/sleep?access_token=5S7WSSUSJLVBIFEGUV3X5HDB4AXIHNB6&start={{{payload.yesterdaysDate}}}&end={{{payload.todaysDate}}}\n\n",
        "x": 210,
        "y": 820,
        "wires": []
    },
    {
        "id": "d50e5d60.4a871",
        "type": "http request",
        "z": "cceba98e.5a9f08",
        "name": "ouraSleepData",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://api.ouraring.com/v1/sleep?access_token=PVTFMF2P46U6RSEF4NE6PKHYAJBKIHQE&start={{{payload.yesterdaysDate}}}&end={{{payload.todaysDate}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 220,
        "y": 480,
        "wires": [
            [
                "d02b1a46.3932a8"
            ]
        ]
    },
    {
        "id": "d02b1a46.3932a8",
        "type": "function",
        "z": "cceba98e.5a9f08",
        "name": "extractSleepTargetMetrics",
        "func": "// extract target metrics from array and insert into influx\n//\n// Author: Nick Cross \n// Date: 26/10/2019\n//\nvar score = msg.payload.sleep[0].score;\nvar awake = msg.payload.sleep[0].awake;\nvar olatency = msg.payload.sleep[0].onset_latency;\nvar light = msg.payload.sleep[0].light;\nvar deep = msg.payload.sleep[0].deep;\nvar rem = msg.payload.sleep[0].rem;\nvar efficiency = msg.payload.sleep[0].efficiency;\nvar duration = msg.payload.sleep[0].duration;\nvar hrl = msg.payload.sleep[0].hr_lowest;\nvar hra = msg.payload.sleep[0].hr_average;\nvar restless = msg.payload.sleep[0].restless;\nvar ba = msg.payload.sleep[0].breath_average;\nvar hrv = msg.payload.sleep[0].rmssd;\nvar st = msg.payload.sleep[0].total;\n//\n// build the array\n//\nmsg.payload = {};\nmsg.payload.score = score;\nmsg.payload.awake = awake;\nmsg.payload.light = light;\nmsg.payload.deep = deep;\nmsg.payload.rem = rem;\nmsg.payload.efficiency = efficiency;\nmsg.payload.duration = duration;\nmsg.payload.hrl = hrl;\nmsg.payload.hra = hra;\nmsg.payload.restless = restless;\nmsg.payload.ba = ba;\nmsg.payload.hrv = hrv;\nmsg.payload.st = st;\nmsg.payload.olatency = olatency;\n//\n// insert array\n//\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 520,
        "wires": [
            [
                "e5f410d2.bb892",
                "32aefafe.d6acc6"
            ]
        ]
    },
    {
        "id": "39bbb584.bdd94a",
        "type": "http request",
        "z": "cceba98e.5a9f08",
        "name": "ouraReadinessData",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://api.ouraring.com/v1/readiness?access_token=PVTFMF2P46U6RSEF4NE6PKHYAJBKIHQE&start={{{payload.yesterdaysDate}}}&end={{{payload.todaysDate}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "86d8baa3.ade0e8"
            ]
        ]
    },
    {
        "id": "e5f410d2.bb892",
        "type": "debug",
        "z": "cceba98e.5a9f08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 590,
        "y": 420,
        "wires": []
    },
    {
        "id": "d5c51f84.ce71c",
        "type": "moment",
        "z": "cceba98e.5a9f08",
        "name": "yesterdaysDate",
        "topic": "yesterdaysDate",
        "input": "",
        "inputType": "msg",
        "inTz": "Australia/Sydney",
        "adjAmount": "1",
        "adjType": "days",
        "adjDir": "subtract",
        "format": "YYYY-MM-DD",
        "locale": "en_US",
        "output": "",
        "outputType": "msg",
        "outTz": "Australia/Sydney",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "37f4a267.0374ee"
            ]
        ]
    },
    {
        "id": "d143dbd.71a9a28",
        "type": "moment",
        "z": "cceba98e.5a9f08",
        "name": "todaysDate",
        "topic": "todaysDate",
        "input": "",
        "inputType": "msg",
        "inTz": "Australia/Sydney",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "YYYY-MM-DD",
        "locale": "en_US",
        "output": "",
        "outputType": "msg",
        "outTz": "Australia/Sydney",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "37f4a267.0374ee"
            ]
        ]
    },
    {
        "id": "37f4a267.0374ee",
        "type": "join",
        "z": "cceba98e.5a9f08",
        "name": "buildDateRange",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 300,
        "y": 240,
        "wires": [
            [
                "d50e5d60.4a871",
                "39bbb584.bdd94a"
            ]
        ]
    },
    {
        "id": "873fa142.04fd",
        "type": "influxdb out",
        "z": "cceba98e.5a9f08",
        "influxdb": "921653f8.56283",
        "name": "ouraReadiness",
        "measurement": "readiness",
        "precision": "",
        "retentionPolicy": "",
        "x": 640,
        "y": 340,
        "wires": []
    },
    {
        "id": "86d8baa3.ade0e8",
        "type": "function",
        "z": "cceba98e.5a9f08",
        "name": "extractReadinessTargetMetrics",
        "func": "// extract target metrics from array and insert into influx\n//\n// Author: Nick Cross \n// Date: 26/10/2019\n//\nvar score = msg.payload.readiness[0].score;\nvar recidx = msg.payload.readiness[0].score_recovery_index;\nvar sbal = msg.payload.readiness[0].score_sleep_balance;\n\n//\n// build the array\n//\nmsg.payload = {};\nmsg.payload.score = score;\nmsg.payload.recidx = recidx;\nmsg.payload.sbal = sbal;\n\n//\n// insert array\n//\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "e5f410d2.bb892",
                "873fa142.04fd"
            ]
        ]
    },
    {
        "id": "fbbcd1e5.72597",
        "type": "influxdb",
        "z": "",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "ttndb",
        "name": "influxdb",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "921653f8.56283",
        "type": "influxdb",
        "z": "",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "ttndb",
        "name": "influxdb",
        "usetls": false,
        "tls": ""
    }
]
